{% extends 'base.html' %}

{% load static %}
{% block title %}
  Project Fact
{% endblock title %}

{% block content %}

  <div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
      <div class="welcome-text">
        <h4>{{ projectfact.name }}</h4>

      </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
      <ol class="breadcrumb">


        <li class="breadcrumb-item active"><a href="{% url 'projects:project_fact' user.id %}">Подтвержденние
          проекты</a>
        </li>
        <li class=" breadcrumb-item active">Информация о проекте

      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="d-flex justify-content-between social-graph-wrapper widget-linkedin">
          <div class="col-10 border-right">
            <span class="s-icon">Общее количество задач</span>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-lg  btn-primary" data-toggle="modal" data-target="#taskFactAddModal"><i
              class="icon-plus"></i>
            </button>
          </div>


        </div>

        <div class="row ">
          <div class="col-6 border-right">
            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
              <h4 class="m-1"><span
                class="counter">{{ project_fact.task_plan_amount }}</span> шт</h4>
              <p class="m-0">План</p>
            </div>
          </div>
          <div class="col-6">
            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
              <h4 class="m-1"><span
                class="counter">{{ project_fact.task_fact_amount }}</span> шт</h4>
              <p class="m-0">Факт</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">

        <div class="d-flex justify-content-between social-graph-wrapper widget-duration">
          <div class="col-10 border-right">
            <span class="s-icon">Дополнительные расходы</span>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-lg   btn-primary" data-toggle="modal"
                    data-target="#taskFactAddModel"><i class="icon-plus"></i>
            </button>
          </div>


        </div>
        <div class="row">
          <div class="col-6 border-right">
            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
              <h4 class="m-1"><span
                class="counter">{{ project_fact.project_plan_additional_cost|floatformat:"2g" }}</span>
                сўм</h4>
              <p class="m-0">План</p>

            </div>
          </div>
          <div class="col-6">
            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
              <h4 class="m-1"><span
                class="counter">{{ project_fact.additional_cost|floatformat:"2g" }}</span>
                сўм</h4>
              <p class="m-0">Факт</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="social-graph-wrapper widget-total-price">
          <span class="s-icon">Общая стоимость проекта</span>
        </div>
        <div class="row">
          <div class="col-6 border-right">
            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
              <h4 class="m-1"><span
                class="counter">{{ project_fact.project_plan_total_price_with_additional_cost|floatformat:"2g" }}</span>
                сўм</h4>
              <p class="m-0">План</p>
            </div>
          </div>
          <div class="col-6">
            <div class="pt-3 pb-3 pl-0 pr-0 text-center">
              <h4 class="m-1"><span
                class="counter">{{ project_fact.total_price_with_additional_cost|floatformat:"2g" }}</span>
                сўм</h4>
              <p class="m-0">Факт</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm text-center">
          <thead>
          <tr>
            <th class="w-5">№</th>
            <th class="w-15">Ф.И.О.</th>
            <th class="w-5">Этап</th>
            <th class="w-25">Наименование</th>
            <th class="w-20">Диапазон дат со временем</th>
            <th class="w-5">Продолжительность в часах</th>
            <th class="w-10">СТАТУС</th>
            <th class="w-10">ОБНОВЛЕНО В</th>
            <th class="w-5">Действие</th>
          </tr>
          </thead>
          <tbody>
          <form method="POST">
            {% for task_fact in task_fact_list %}
              {% csrf_token %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><select class="single-select-placeholder js-states form-control " id="worker_{{ task_fact.id }}">

                  {% for worker in user_list %}
                    <option value="{{ worker.id }}"
                            {% if task_fact.worker == worker %}selected {% endif %}>{{ worker.first_name }} {{ worker.last_name }}</option>

                  {% endfor %}
                </select></td>
                <td>{{ task_fact.stage_fact.stage_number }}</td>
                <td>{{ task_fact.description }}</td>
                {#             <input type="text" class="form-control input-daterange-timepicker" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM">#}
                <td>
                  <div class="example"><input type="text" class="form-control input-daterange-timepicker"
                                              name="daterange_{{ task_fact.id }}"
                                              value="{{ task_fact.start_time|date:"d-m-Y HH:mm" }} - {{ task_fact.finish_time|date:"d-m-Y HH:mm" }}">
                  </div>
                </td>
                <td>
                  {{ task_fact.duration_per_hour }}
                </td>
                <td><select name="task_fact_status_{{ task_fact.id }}" class="form-control " style="width: 150px">


                  <option value="1" {% if task_fact.action_status == 1 %}selected{% endif %}>План</option>
                  <option value="2" {% if task_fact.action_status == 2 %}selected{% endif %}>Активный</option>
                  <option value="3" {% if task_fact.action_status == 3 %}selected{% endif %}>Завершенный
                  </option>
                  <option value="4" {% if task_fact.action_status == 4 %}selected{% endif %}>Отменено</option>
                  <option value="5" {% if task_fact.action_status == 5 %}selected{% endif %}>На удерживании
                  </option>

                </select></td>
                <td>{{ task_fact.updated_at|date:'d-m-Y H:i' }}</td>
                <td>
                  <div>
                    <button class="btn btn-primary pl-5 pr-5 project_fact_task_update" type="button"
                            data-store-id="{{ task_fact.id }}"
                            data-href-template="{% url 'projects:project_fact_task_update' %}">Сохранить
                    </button>

                  </div>
                </td>
              </tr>
            {% endfor %}
          </form>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <div class=" card">
        <h5 class="card-header align-items-center text-center">
          <span>Дополнительные расходы:  </span>
        </h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-responsive-sm text-center">
              <thead>
              <tr>
                <th class="text-center">Статья затрат</th>
                <th class="text-center">Комментария</th>
                <th class="text-center">Сумма</th>
                <th class="text-center">Действие</th>
              </tr>
              </thead>
              <tbody>
              {% for item in projectfact.additionalcostfact_set.all %}
                {% if not item.deleted_status %}
                  <tr>
                    <td class="text-center" id="cost_type_{{ item.id }}">

                      <select name="additional_cost_fact_type_edited" class="form-control "
                              style="width: 150px">


                        <option value="1" {% if item.cost_type == 1 %}selected{% endif %}>
                          Аутсорсинг
                        </option>
                        <option value="2" {% if item.cost_type == 2 %}selected{% endif %}>
                          Оборудование
                        </option>
                        <option value="3" {% if item.cost_type == 3 %}selected{% endif %}>Прочие
                          расходы
                        </option>

                      </select>


                    </td>
                    <td class="text-center" id="comment_{{ item.id }}">
                                        <textarea name="additional_cost_fact_comment_edited"
                                                  class="form-control">{{ item.comment }}</textarea>
                    </td>
                    <td class="text-center" id="amount_{{ item.id }}">
                      <input class="form-control text-center"
                             name="additional_cost_fact_amount_edited"
                             value="{{ item.amount|floatformat:"2g" }}">

                    </td>
                    <td class="text-center">

                      <div class="d-flex justify-content-around w-75">

                        <a class="mx-2 additional_cost_fact_edit_row" style="font-size: 2em;"
                           href="#"
                        ><i class="fa fa-edit text-success"></i></a
                        >


                        <a class="mx additional_cost_fact_delete_row" style="font-size: 2em;"
                           data-store-id="{{ item.amount }}"
                           href="#"
                        ><i class="fa fa-trash-o text-danger"></i></a
                        >
                      </div>

                    </td>
                  </tr>
                {% endif %}

              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="taskFactAddModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stageModalLabel">Добавит задачи</h5>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
          </button>
        </div>
        <form id="task_fact_add_modal" action="{% url 'projects:task_fact_add' %}">
          {% csrf_token %}
          <input type="hidden" name="project_fact" value="{{ project_fact.id }}">
          <div class="modal-body">
             <div class="row mb-3">
              <div class="col">
                <label for="name" class="form-label">Наименование</label>
                <textarea
                  id="name"
                  name="task_fact_add_name"
                  class="form-control"
                  required
                ></textarea>
              </div>
            </div>
            <div class="row">

              <div class="col-md-12 mb-0">
                <label for="start_date" class="form-label">Диапазон дата</label>
               <input type="text" class="form-control input-daterange-timepicker w-100"
                                              name="daterange_task_fact"
                                              value="{%  now "d-m-Y" %} - {%  now "d-m-Y" %}">
              </div>
            </div>
            <div class="row d-flex justify-content-between">

              <div class="col-4 mt-2">
                <label  class="form-label">Статус</label>
                <select name="task_fact_add_status" class="form-control " style="width: 150px">


                  <option value="1">План</option>
                  <option value="2">Активный
                  </option>
                  <option value="3">Завершенный
                  </option>
                  <option value="4">Отменено
                  </option>
                  <option value="5">На удерживании
                  </option>

                </select>

              </div>


              <div class="col-8 mt-2">
                <label class="form-label">Этап</label>
                <select name="task_fact_add_stage" class="form-control " style="width: 150px">
                  {% for stage in project_fact.stage_list %}
                    <option value="{{ stage.id }}">{{ stage.stage_number }} ) {{ stage.description }}
                    </option>
                  {% endfor %}

                </select>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
      </div>
    </div>
  </div>

{% endblock %}



