{% extends 'base.html' %}

{% load static %}
{% block title %}
  Project Status
{% endblock title %}

{% block content %}


  <div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
      <div class="welcome-text">
        <h4>Список проектов по этапам создания</h4>

      </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
      <h5><a href="{% url 'projects:project_creation_stage_one' %}"
             class="btn btn-primary">Новый проект</a></h5>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-md-6 col-lg-3">
      <div class="card mb-3">
        <div class="card-body text-center" style="height: 140px">
          <h5 class="card-title">Этап 1</h5>
          <p class="card-text">Добавить данные о проекте</p>
          <span class="badge badge-center rounded-pill bg-primary">{{ project_stage_list.stage_1|default:0 }}</span>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card text-center mb-3" style="height: 140px">
        <div class="card-body">
          <h5 class="card-title">Этап 2</h5>
          <p class="card-text">Добавит этапы и задачи</p>
          <span class="badge badge-center rounded-pill bg-primary">{{ project_stage_list.stage_2|default:0 }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card text-center mb-3" style="height: 140px">
        <div class="card-body">
          <h5 class="card-title">Этап 3</h5>
          <p class="card-text">Обзор паспорт проекта
          </p>
          <span class="badge badge-center rounded-pill bg-primary">{{ project_stage_list.stage_3|default:0 }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card mb-3" style="height: 140px">
        <div class="card-body text-center">
          <h5 class="card-text">В подтверждение</h5>
          <p class="hidden" style="color: white">0</p>
          <span class="badge badge-center rounded-pill bg-primary">{{ project_stage_list.stage_4|default:0 }}</span>

        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="d-flex justify-content-end ">
          <h5 class="card-header"></h5>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered verticle-middle table-responsive-sm text-center">
              <thead>
              <tr>
                {#                <th class="text-center">#</th>#}
                <th>Наименование</th>
                <th class="text-center">Тип проекта</th>

                <th class="text-center">Дата начало</th>
                <th class="text-center">Дата окончания</th>
                <th class="text-center">Этап создания</th>
                <th class="text-center">Общий бюджет<br> (План)</th>

                <th class="text-center">Действие</th>

              </tr>

              </tr>
              </thead>
              <tbody>
              {% for project in page_obj %}
                <tr id="project-{{ project.id }}">
                  {#                  <td class="text-center text-muted">{{ forloop.counter }}</td>#}
                  <td>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                          <div class="widget-heading"><strong>{{ project.name }}</strong>
                          </div>

                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">{{ project.get_customer_status_display }}</td>

                  <td class="text-center">{{ project.start_time }}</td>
                  <td class="text-center">{{ project.finish_time }}</td>
                  <td class="text-center">
                    {{ project.get_project_creation_stage_display }}

                  </td>
                  <td class="text-center">{{ project.total_price_with_additional_cost|floatformat:"2g" }}
                    сўм
                  </td>


                  <td>
                  <span class="text-center">
                    {% if project.project_creation_stage == 4 %}
                      <a href="{% url 'projects:project_plan_final_view' project.id %}" class="mr-4"
                         data-toggle="tooltip"
                         data-placement="top" title="See"><i
                        class="fa fa-eye color-muted"></i> </a>
                    {% else %}
                      {% if project.project_creation_stage == 1 %}
                        <a href="{% url 'projects:initial_view' project.id %}" class="mr-4" data-toggle="tooltip"
                           data-placement="top" title="Edit"><i
                          class="fa fa-pencil color-muted"></i> </a>
                      {% elif project.project_creation_stage == 2 %}
                        <a href="{% url 'projects:project_creation_stage_two' project.id %}" class="mr-4"
                           data-toggle="tooltip"
                           data-placement="top" title="Edit"><i
                          class="fa fa-pencil color-muted"></i> </a>
                      {% else %}
                        <a href="{% url 'projects:project_creation_stage_three' project.id %}" class="mr-4"
                           data-toggle="tooltip"
                           data-placement="top" title="Edit"><i
                          class="fa fa-pencil color-muted"></i> </a>
                      {% endif %}
                      <a type="button"
                         data-placement="top" data-id="{{ project.id }}"
                         title="Close"><i
                        class="fa fa-close color-danger delete-project"></i></a>
                      </span>

                    {% endif %}

                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
          {% if is_paginated %}

            <div class="d-flex justify-content-end">
              <nav>
                <ul class="pagination pagination-sm">
                  {% if page_obj.has_previous %}
                    <li class="page-item page-indicator">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="icon-arrow-left"></i></a>
                    </li>
                  {% endif %}


                  <li class="page-item active"><a class="page-link"
                                                  href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.number }}</a>
                  </li>
                  {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item page-indicator">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        <i class="icon-arrow-right"></i></a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          {% endif %}


        </div>

      </div>

    </div>


  </div>



  <div class="modal fade" id="deleteProjectPlan">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Удалить проект</h5>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
          </button>
        </div>
        <form method="post"
              id="item-delete-form"
        >
          {% csrf_token %}

          <div class="modal-body">
            <p>Вы уверены, что хотите удалить этот проект ?</p>
            <input type="hidden" name="delete_project" id="delete_project_id">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            <button type="submit" class="btn btn-primary" id="confirm-delete-project-button"
                    data-href-template="{% url 'projects:project_delete' %}">Да
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="application/javascript">


    document.addEventListener("DOMContentLoaded", function (event) {
      $('.delete-project').click((e) => {
        document.getElementById('delete_project_id').value = e.target.parentElement.getAttribute('data-id');
        $('#deleteProjectPlan').modal('show');
      })
    });
  </script>

{% endblock %}
