{% extends 'base.html' %}

{% load static i18n %}
{% block title %}
  Workload
{% endblock title %}

{% block content %}
  <div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
      <div class="welcome-text">
        <h4>{% trans 'Загруженность сотрудников' %}</h4>

      </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:entrance' %}">{% trans 'Панель' %}</a></li>
        <li class="breadcrumb-item active"><a href="#">{% trans 'Загруженность сотрудников' %}</a></li>
      </ol>
    </div>
  </div>
  <!-- row -->

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{% trans 'Cотрудники' %}</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example2" class="display" style="width:100%">
          <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">{% trans 'Сотрудник' %}</th>
            <th scope="col">{% trans 'Наименование проекта' %}</th>
            <th scope="col">{% trans 'Наименование задачи' %}</th>
            <th scope="col">{% trans 'Дедлайн' %}</th>
            <th scope="col">{% trans 'Статус задачи' %}</th>
            <th scope="col">{% trans 'Рабочая нагрузка в часах' %}</th>
          </tr>
          </thead>
          <tbody>
          {% for task in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              {% if  task.worker %}
                <td>{{ task.worker.first_name }} {{ task.worker.last_name }}</td>
                <td>{{ task.project_fact.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.finish_time|date:"d-m-Y" }}</td>
                {% if task.action_status == 1 %}
                  <td><span class="badge badge-primary">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 2 %}
                  <td><span class="badge badge-warning">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 3 %}
                  <td><span class="badge badge-success">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 4 %}
                  <td><span class="badge badge-dark">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 5 %}
                  <td><span class="badge badge-danger">{{ task.get_action_status_display }}</span></td>
                {% endif %}
                <td>{{ task.duration_per_hour }}</td>


              {% else %}
                <td>{% trans 'Еще не назначен' %}</td>
                <td>{{ task.project_fact.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.finish_time|date:"d-m-Y" }}</td>
                {% if task.action_status == 1 %}
                  <td><span class="badge badge-primary">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 2 %}
                  <td><span class="badge badge-warning">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 3 %}
                  <td><span class="badge badge-success">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 4 %}
                  <td><span class="badge badge-dark">{{ task.get_action_status_display }}</span></td>
                {% elif task.action_status == 5 %}
                  <td><span class="badge badge-danger">{{ task.get_action_status_display }}</span></td>
                {% endif %}
                <td>{{ task.duration_per_hour }}</td>
              {% endif %}


            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>





{% endblock %}
