{% extends 'base.html' %}

{% load static %}
{% block title %}
  Project Plan
{% endblock title %}

{% block content %}
  {% include 'projects/_includes/links.html' %}
  {% include 'projects/_includes/steps.html' %}
  {#Project Passport#}
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">

        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Паспорт проекта</h5>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <table id="document-passport" class="table table_left">
            <tr>
              <th>1</th>
              <th>ID</th>
              <td>{{ projectplan.id }}</td>
            </tr>
            <tr>
              <th>2</th>
              <th>Наименование проекта</th>
              <td>{{ projectplan.name }}</td>
            </tr>
            <tr>
              <th>3</th>
              <th>Заказчик</th>
              <td>{{ projectplan.customer }}
              </td>
            </tr>
            <tr>
              <th>4</th>
              <th>Ответственные организации за реализацию проекта</th>
              <td>{{ projectplan.get_responsible_subject_for_project_display }}
              </td>
            </tr>
            <tr>
              <th>5</th>
              <th>Основания для реализации проекта</th>
              <td>{{ projectplan.legal_basis }}
              </td>
            </tr>
            <tr>
              <th>6</th>
              <th>Источники финансирования</th>
              <td>{{ projectplan.get_source_of_financing_display }}
              </td>
            </tr>


            <tr>
              <th>7</th>
              <th>Включен ли проект в государственную программу развития
                Республики
                Узбекистан
              </th>
              {% if  projectplan.involved_in_development_country is True %}
                <td>Да</td>
              {% else %}
                <td>Нет</td>
              {% endif %}

            </tr>
            <tr>
              <th>8</th>
              <th>Тип проекта</th>

              <td>{{ projectplan.get_customer_status_display }}</td>
            </tr>


            <tr id="download-conclusion-document">
              <th>9</th>
              <th>Заключение соответствующих экспертных организаций</th>

              <td>
                <a href="{{ projectplan.expert_conclusion.url }}">&nbspСкачать</a>
              </td>
            </tr>


            <tr>

              <th>10</th>
              <th>Цель проекта</th>
              <td>{{ projectplan.purpose|safe }}
              </td>
            </tr>
            <tr>
              <th>11</th>
              <th>Задачи проекта</th>
              <td>{{ projectplan.objective|safe }}
              </td>
            </tr>
            <tr>
              <th>12</th>
              <th>Ориентировочная дата начала проекта</th>
              <td>{{ projectplan.start_time }}</td>
            </tr>
            <tr>
              <th>13</th>
              <th>Ориентировочная дата оканчания проекта</th>
              <td>{{ projectplan.finish_time }}</td>
            </tr>
            <tr>
              <th>14</th>
              <th>Ожидаемые результаты от реализации проекта</th>
              <td>{{ projectplan.expecting_results|safe }}
              </td>
            </tr>
            <tr>
              <th>15</th>
              <th>Ответственный</th>
              <td><a href="{% url 'users:detail' projectplan.created_by.id %}" data-html="true"
                     data-toggle="popover"
                     data-placement="right"
                     data-trigger="hover"
              >{{ projectplan.created_by }}</a></td>
            </tr>


            <tr>
              <th>16</th>
              <th>Создан в</th>
              <td>{{ projectplan.created_at }}</td>
            </tr>
            <tr>
              <th>17</th>
              <th>Коэффициенть, повышающие стоимость проектирования ИС
                в зависимости от усложняющих факторов
              </th>
              <td>{{ projectplan.coefficient_of_project }}</td>
            </tr>


          </table>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Ответственный</h5>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <table class="table table_left table_right">
            <tbody>

            <tr>
              <td>Проект менеджер</td>
              <td> {{ projectplan.created_by }}</td>
            </tr>
            <tr>
              <td>Департамент</td>
              <td>{{ projectplan.created_by.deportment }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>




{% endblock %}
